.feed-default-bg {
    background: linear-gradient(180.22deg, #312E81 0.19%, #0A0A1B 188.61%);
}

.feed-like-bg {
    background: linear-gradient(180.22deg, #312E81 0.19%, #0A0A1B 188.61%);
}

.feed-hate-bg {
    background: linear-gradient(180.22deg, #312E81 0.19%, #0A0A1B 188.61%);
}