@font-face {
    font-family: 'VK Sans Display';
    src: url('/fonts/VKSansDisplay-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'VK Sans Display';
    src: url('/fonts/VKSansDisplay-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'VK Sans Display';
    src: url('/fonts/VKSansDisplay-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

.font-vk {
    font-family: 'VK Sans Display';
}

.holo-font {
    background: conic-gradient(from 90deg at 50% 50%, #B6D0F7 0deg, #EEF4E1 54deg, #FAFCFE 108deg, #E2C1F9 162deg, #BFD1F9 208.8deg, #FAFCFE 270deg, #BAE4E2 306deg, #B6D0F7 360deg);
    color: transparent;
    background-clip: text;
}